/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 form input,
 form textarea,
 form label {
	 margin: 10px;
 }

 form input#date {
	background: #fafafa;
	padding: 10px;
 }

 form textarea {
	height: 120px;
 }

 .dashicons.dashicons-saved {
	color: green;
	font-size: 100px;
	height: 100px;
	width: auto;
 }
