/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 form input {
	 margin: 10px;
 }

td.rem_date_exp {
	background-color: lightsalmon;
} 

td.rem_date_future {
	background-color: lightgreen;
} 