/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /* Reminder table headings  */
 .form-table th {
	 padding-left: 10px;
 }

 /* colorize table cells for reminder date  */
 td.rem_date_due {
	background-color: yellow;
} 

td.rem_date_future {
	background-color: lightgreen;
} 

td.rem_date_invalid {
	background-color: orange;
} 